

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
}

.hero-image{
    position: absolute;
    width:90% ;
    height: 90%;
    background-color: #fff;
}

.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.hero-image h1{
    font-family: 'Noto Serif', serif;
    position: absolute;
    font-size: 6rem;
    top: 20%;
}
.hero-image h2{
    font-family: 'Noto Serif', serif;
    position: absolute;
    font-size: 3rem;
    top: 70%;
}



.navMenu-btn{
    
    width: 40px;
    height: 35px;
    background-color: #fff;
    margin-bottom: 9;
    cursor: pointer;
}

.main-nav{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;

}

.main-nav ul{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.main-nav ul a{
    font-size: 1.5rem;
    display: inline-block;
    color: #000;
    padding: 10px;

}


.navMenu-btn{
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 1000;
    }

@media(max-wid:800px){
    .hero-image h1 {
        font-size: 4rem;
    }
    .hero-image h2{
        font-size: 4rem;
    }
}

.main-nav ul{
        display:flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(-1800px) ;
        background-color: #fff;
        cursor: pointer;
        }
  
.main-nav ul a {
    margin-bottom: 20px;
}

.main-nav ul.change{
    transform: translateX(0);
}

.main-nav ul a:hover {
    border-bottom: 1px solid #000;
}
.hero_libros{
    
    display:flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;

}

.hero_libros h3{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    
}

.hero_libros h1{
    font-family: 'Noto Serif', serif;
    font-size: 4rem;
}

.hero_luna{
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
   
}

.hero_boletin{
    font-family: 'Noto Serif', serif;
    font-size: 2rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

}


.nav_imagenes {
    position: relative;
    height: 70vh;
    width: 100%;
    

}

.nav_imagenes {
    font-family: 'Noto Serif', serif;
    display:flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    
}

.nav_icons p{
    font-family: 'Lato', sans-serif;
}

.buton{
    font-family: 'Lato', sans-serif;
    display:flex;    
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;  

    
      
}

.nav_boletines{
    font-family: 'Noto Serif', serif;
    display:flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    position: relative;
    height: 70vh;
    width: 100%;

}

.boletin p{
    font-family: 'Lato', sans-serif;

}

.nav_fondo{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 683px;
    background: #000;
}

.nav_eclipses{
    font-family: 'Noto Serif', serif;

    background-color: #000;
}

.eclipse {     
    display:block;
    margin-left: 0;
    background: #fff;
   
    height: 1678.12px;
    clip-path: circle(83% at 50% 183.6%);
    height: 683px;

}

.eclipse img{
    

    display:block;
    margin:auto; 
    
        
}
.eclipse h2{
    
    position: block;
    display: flex;
    justify-content: center;
    font-size: 2.5rem; 
    
}
.eclipse p {
    position: block;
    display: flex;
    justify-content: center;
    font-size: 0.8rem; 
}

.luna{
    position: block;
    display: flex;
    justify-content: center;
}



.nav_fondo2{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 683px;
    font-size: 3rem;
}
.nav_fondo2 h2{
    cursor: pointer;
}

.nav_fondo2 h3{
    position: block;
    display: flex;
    justify-content: center;
    font-size: 2rem; 
}
.conten-sub{

    background: rgba (0, 22,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction : column;
}

.conten-sub form{
    width: auto;
    max-width: 400px;
    display: flex;
    }


    .conten-sub form .campo{
    width: 100%;
    padding: 15px 15px; 
    font-size: 16px;
    border: #000 2px solid;
    
}

.conten-sub form .btn-sub{
    
    padding: 15px 15px;
    border: none;
    font-size: 16px;
    background: #000;
    color: #fff;
    cursor: pointer;
    outline: 0px;
    
    }

.conten-sub form .btn-sub:hover{
    background: rgb(22, 21, 21);
}    

.seccion{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 683px;
    font-size: 3rem;
}
    
.red1{
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 0px;
    width: 100%;
    cursor: pointer;
}
.redes{
    display:flex;
    justify-content: center;   
    position: relative;
    height: 40px;
    width: 100%;
    
}
.redes{
    max-width: 1000px;
    max-height: 40px;
} 

  .piede_pagina{
    display: flex;
    flex-direction: column;
    min-height: 0%;
    background-color: #000;
    margin-top: auto;
  }

  .piede_pagina p {
    color: #fff;
    

  }

